TFG-SAHANA/GEPAME/XSD/accessxml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="access" type="tAccess"/>
    <xs:complexType name="tAccess">
        <xs:sequence>
            <xs:element name="user"/>
            <xs:element name="vehicle"/>
        </xs:sequence>
        <xs:attribute name="date" type="xs:dateTime" use="required"/>
    </xs:complexType>
</xs:schema>
